[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nvidia-cublas-cu11 = {path = "./wheels/nvidia_cublas_cu11-11.10.3.66-py3-none-manylinux1_x86_64.whl"}
nvidia-cudnn-cu11 = {path = "./wheels/nvidia_cudnn_cu11-8.5.0.96-2-py3-none-manylinux1_x86_64.whl"}
nvidia-cuda-nvrtc-cu11 = {path = "./wheels/nvidia_cuda_nvrtc_cu11-11.7.99-2-py3-none-manylinux1_x86_64.whl"}
torch = {path = "./wheels/torch-1.13.0-cp38-cp38-manylinux1_x86_64.whl"}

[dev-packages]

[requires]
python_version = "3.8"
